{{> header }}
<!-- Asi se indica un parcial -->
{{> navbar }}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            Sobre Luis Fernando Valera Bernal
        </div>
        <div class="col-8">
            <img src="assets/img/luis.jpg" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer }}